html,
body {
  padding: 0;
  margin: 0;
}

.singers-container .singers {
  list-style-type: none;
}

.singer{
  background: #ccc;
  border: 1px solid #eee;
  height: 150px;

  opacity:0;
  opacity: 1 \9; /*just in case ie*/
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;

  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

/* Keyframes for the fade-in */
@-webkit-keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}
@-moz-keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes fadeIn {
  from { opacity:0; }
  to { opacity:1; }
}